/* resetar padrão obrigatorio */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    /* caixa principal > ocupar % da tela*/
    width: 80%;
    /* visualizar o tamanho da caixa */
    /* border: 1px solid gray; */
    /* sera usado para dividir e colocar as caixas uma do lado da outra em linha */
    display: flex;
    /* observação sobre o flex-direction: row ; o display flex ja deixa um do lado do outro  >> uma atenção maior sobre o comportamento */
    flex-direction: row;

    /* estilização copiada do site https://cssgenerator.org/  */
    box-shadow: 16px 24px 26px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 16px 24px 26px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 24px 26px -11px rgba(0, 0, 0, 0.75);
    /* quero um espaço entre a caixa direita e a caixa esquerda */
    justify-content: space-between;

}

.card__esquerdo {
    /* quero deixar o conteudo um abaixo do outro em coluna e o conteudo no centro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* os elementos estão colados a esquerda, eu quero dar um espaçamento entre os elementos da esquer do comput */
    padding-left: 10px;
}

.card__esquerdo>span {
    /* alterar o peso da fonte do autor */
    font-weight: 300;
}

.card__esquerdo>a {
    /* eu quero colocar um espaço entre o titulo e o autor ou span */
    margin-top: 15px;
    /* alterar o tamanho do titulo */
    font-size: 25px;
    /* tirar o sumblinhado do link */
    text-decoration: none;
    /* mudar a cor do titulo */
    color: black;
    /* mudar a fonte do titulo */
    font-weight: bold;
}

.card__esquerdo>p {
    /* eu quero alterar a cor do texto que esta no paragrafo */
    color: gray;
}